/*background media*/
@media screen and (orientation:portrait) {
	img {
		min-height: 100%;
	}
}
@media screen and (orientation:landscape){
	/* Landscape styles */
	@media (min-width:0px){
		img {
			min-height: 100%;
		}
	}
	@media (min-width:1280px){
		img {
			min-width: 100%;
		}
	}
}
/*end background media*/


/*320*/
/* default styles here for older browsers. 
I tend to go for a 600px - 960px width max but using percentages
*/
/*answer from http://stackoverflow.com/users/1844811/beneto*/
@media only screen and (max-width:1190px){
	div.content-wrapper {
		width: 735px;
		font-size: 80%;
	}
}
/*important*/
@media only screen and (max-width:970px){ 
	div.content-wrapper {
		width: 600px;
	}
	label:not(#logo) {
		width: 19px;
		height: 30px;
		right: 5px;
	}
	label#logo {
		top: 10px;
		left: 10px;
		height: 62px;
		width: 62px;
		-moz-border-radius: 31px;
		-webkit-border-radius: 31px;
		border-radius: 31px;
	}

}
@media only screen and (max-width:786px){
	div.content-wrapper {
		width: 486px;
	}
}
@media only screen and (max-width:672px){
	div.content-wrapper {
		width: 415px;
	}
}
@media only screen and (max-width:596px){
	div.content-wrapper {
		width: 368px;
	}
}
@media only screen and (max-width:546px){
	div.content-wrapper {
		width: 337px;
	}
}
@media only screen and (max-width:510px){
	div.content-wrapper {
		width: 315px;
	}
}
@media only screen and (max-width:486px){
	div.content-wrapper {
		width: 300px;
	}
}
@media only screen and (max-width:470px){
	div.content-wrapper {
		width: 290px;
	}
}