@media only screen and (max-width:1190px){
	div.content-wrapper {width: 900px;}
	.full-step-one {width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-one {width: calc(100% - 20px);}
	.hide-step-one {display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-one{display: none;visibility: hidden;}
	.clearfix-step-one{ display: block; }.clearfix-step-one:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
}
@media only screen and (max-width:970px){ 
	div.content-wrapper {width: 600px;}
	.full-step-two{width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-two {width: calc(100% - 20px);}
	.hide-step-two{display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-two{display: none;visibility: hidden;}
	.clearfix-step-two{ display: block; }.clearfix-step-two:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
	.bio-image{height: 310px;}
	span.hyphen-header{display: block; visibility: hidden; height: 0; width: 0;}

}
@media only screen and (max-width:786px){
	div.content-wrapper {width: 486px;}
	.full-step-three{width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-three {width: calc(100% - 20px);}
	.hide-step-three{display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-three{display: none;visibility: hidden;}
	.clearfix-step-three{ display: block; }.clearfix-step-three:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
	.bio-image{height: 330px;}
	span.icon {margin-left: calc(50% - 45px); margin-bottom: 10px;}
	span.hyphen{display: block; visibility: hidden; height: 0; width: 0;}
}
/*@media only screen and (max-width:672px){
	div.content-wrapper {width: 415px;}
	.full-step-four{width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-four {width: calc(100% - 20px);}
	.hide-step-four{display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-four{display: none;visibility: hidden;}
	.clearfix-step-four{ display: block; }.clearfix-step-four:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
	.bio-image{height: 360px;}
}
@media only screen and (max-width:596px){
	div.content-wrapper {width: 368px;}
	.full-step-five{width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-five {width: calc(100% - 20px);}
	.hide-step-five{display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-five{display: none;visibility: hidden;}
}*/
/*@media only screen and (max-width:546px){
	div.content-wrapper {width: 337px;}
	.full-step-six{width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-six {width: calc(100% - 20px);}
	.hide-step-six{display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-six{display: none;visibility: hidden;}
}
@media only screen and (max-width:510px){
	div.content-wrapper {width: 315px;}
	.full-step-seven{width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-seven {width: calc(100% - 20px);}
	.hide-step-seven{display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-seven{display: none;visibility: hidden;}
}
@media only screen and (max-width:486px){
	div.content-wrapper {width: 300px;}
	.full-step-eight{width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-eight {width: calc(100% - 20px);}
	.hide-step-eight{display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-eight{display: none;visibility: hidden;}
}
@media only screen and (max-width:470px){
	div.content-wrapper {width: 290px;}
	.full-step-nine{width: calc(100% - 20px);}
	input[type=checkbox]:checked ~ .main-wrapper .full-checked-nine {width: calc(100% - 20px);}
	.hide-step-nine{display: none;visibility: hidden;}
	input[type=checkbox]:checked ~ .main-wrapper .hide-checked-nine{display: none;visibility: hidden;}
}*/





