@import url(http://weloveiconfonts.com/api/?family=entypo); 
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
 /*transitions*/
.hide {transition: opacity .2s ease-in}
div.main-content {transition: background .25s ease-in, top .25s ease-in, left .25s ease-in, width .25s ease-in, height .25s ease-in, opacity .25s ease-in;}
section{transition: padding .25s;}
.main-content, .footer {transition: padding 1s;}
 /*end transitions*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


div.main-wrapper, div.main-wrapper section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*start main window*/
div.content-wrapper {
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 960px;
}
div.main-content {
	position: absolute;
	left: 0;
	top: 0;
	background: #101112;
	opacity: 1;
	border-top: 1px solid #c12451;
	border-radius: 0px 0px 20px 20px;
	width: 100%;
	font-weight: 100;
}
div.relative {
	position: relative;
	height: 100%;
}
/*end main window*/

.info-header {
	background: #dedede;
  margin-top: 0;
  padding: 10px;
}
.info-header span:not(:first-of-type):not(:last-of-type) {
  margin-left: 10px;
}
.info-header span:not(:last-of-type) {
  margin-right: 5px;
}
.hammer {
  width: 200px;
}

.bio-image {
	height: 300px;
  background: url('../img/profile.jpg');
  background-size: cover;
  background-position: 50% 50%;
  margin: auto 0;
}

/*bio svg*/
span.icon {
	width: 65px;
	height: 65px;
	padding: 14px;
	background: rgba(200,200,200,0.5);
	border-radius: 65px;
	position: relative;
	margin-right: 15px;
}
span.icon:after{
	position: absolute;
	top: 20px;
	left: 16px;
	display: block;
}
span.work-1:after{content: url('../svg/work1.svg');}
span.work-2:after{content: url('../svg/work2.svg');}
span.work-3:after{content: url('../svg/work3.svg');}
span.school-1:after{content: url('../svg/bldg1.svg');}
span.school-2:after{content: url('../svg/bldg2.svg');}
span.school-3:after{content: url('../svg/bldg3.svg');}
/*end bio svg*/

.education-col, .work-col {
	margin-bottom: 20px;
}
.education-col h3, .work-col h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 400;
}
.education-col p, .work-col  p {
	margin-top: 0px;
	margin-bottom: 5px;
}
span.icon {
	float: left;
}
.light {
	font-weight: 300;
}
.hello-header {
  margin-bottom: 0px;
}



/*start hex*/
.hex-wrapper p {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  height: 55px;
  line-height: 1em;
  color: #fff;
}

.hex-wrapper {
  float: right;
}

.hex-wrapper .hex-col {
  float: left;
  margin-top: 25px;
}
.hex-wrapper .hex-col-even {
  float: left;
  margin-left: -48px;
  margin-right: -48px;
  margin-top: 108px;
}

.hex-wrapper .hexagon {
  width: 100px;
  height: 55px;
  background: #000;
  position: relative;
  margin-bottom: 111px;
}
.hex-wrapper .hexagon:last-of-type {
  margin-bottom: 25px;
}
.hex-wrapper .hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #000;
}
.hex-wrapper .hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #000;
}
.down-1-row {
  padding-top: 166px;
}
.down-2-row {
  padding-top: 332px;
}
/*end hex*/

.full-background {
  width: 100%;
  height: 100%;
  position: fixed
}
input {
  display: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

