@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
 /*transitions*/
.hide {transition: opacity .2s ease-in}
div.main-content {transition: background .25s ease-in, top .25s ease-in, left .25s ease-in, width .25s ease-in, height .25s ease-in, opacity .25s ease-in;}
section{transition: padding .25s;}
.main-content, .footer {transition: padding 1s;}
 /*end transitions*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

div.main-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
}

div.main-wrapper section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div[class*=img-wrapper] {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

div[class*=img-wrapper] img {
	position: absolute;
	top: -9999px;
	left: -9999px;
	bottom: -9999px;
	right: -9999px;
	margin: auto;
}
/*start main window*/
div.content-wrapper {
	position: relative;
	top: 100px;
	margin: 0 auto;
	width: 960px;
}
div.main-content {
	position: absolute;
	left: 0;
	top: 0;
	background: #101112;
	opacity: 1;
	border-top: 1px solid #c12451;
	border-radius: 0px 0px 20px 20px;
	padding: 20px;
	width: calc(100% - 40px);
	font-weight: 100;
}
div.relative {
	position: relative;
	height: 100%;
}
/*end main window*/

div[class*=img-wrapper] {
	background: #c12451;
}

.main-content h1:before,.main-content h1:after {
}

p[class*=contact-] {
	margin-top: 0;
	display: inline-block;
	margin-right: 10px;
}

p[class*=contact-] span{
	font-size: 1.15em;
	margin-right: 3px;
}
p.neither {
	margin-top: -5px;
}
p.date {
	display: inline-block;
	background: #000;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}







